<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="ServletPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>Model.Worktime</class>
    <class>Model.Employee</class>
    <class>Model.Trackingtype</class>
    <class>Model.Permissionlevel</class>
    <class>Model.Codes</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
        
           <!--CHANGE THE DATABASE LINK
            STRUCTURE SHOULD BE:
            jdbc:mysql://127.0.0.1:3306/YOUR_DATABASE_NAME_HERE?zeroDateTimeBehavior=convertToNull
        -->
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://127.0.0.1:3306/michaef?zeroDateTimeBehavior=convertToNull"/>
      
      <!--CHANGE THE DATABASE USERNAME -->
      <property name="javax.persistence.jdbc.user" value="michaef"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      
      <!--CHANGE THE DATABASE PASSWORD -->
      <property name="javax.persistence.jdbc.password" value="w06VGmcdx"/>
    </properties>
  </persistence-unit>
</persistence>
